
<div>
	<img src="https://img.shields.io/static/v1?label=Host&message=GitHub&color=yellowgreen&style=flat-square&link=&link=https://github.com" alt="GitHub" style="width: 80px; display: inline; vertical-align: middle;" />

	<img src="https://img.shields.io/static/v1?label=CDN&message=Upyun&color=yellowgreen&style=flat-square&link=&link=https://console.upyun.com/register/?invite=ByYk_9gS-" alt="又拍云" style="width: 80px; display: inline; vertical-align: middle;" />
</div>

<div>
	<img src="https://img.shields.io/static/v1?label=Host&message=Coding&color=yellowgreen&style=flat-square&link=&link=https://coding.net" alt="Coding" style="width: 80px; display: inline; vertical-align: middle;" />

	<img src="https://img.shields.io/static/v1?label=CDN&message=Tencent&color=yellowgreen&style=flat-square&link=&link=https://cloud.tencent.com" alt="腾讯云" style="width: 80px; display: inline; vertical-align: middle;" />
</div>
